**.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
local/
inst/py/mosaic-python-env
model/LAUNCH.R
model/output/
**data_psi_suitability.csv
claude/
*.tar.gz
*.Rcheck/
..Rcheck/
sbi-logs/
azure/storage_mount/.env
